.about {
    .row {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .fa-university {
        color: #fff;
        font-size: 3rem;
    }

    

    &__icon-bank {
        width: 3rem;
        height: 3rem;
        fill: #fff;
    }
}